body{
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    position: relative;
}
.toggle{
    background-color: #30bdf2;
    height: 80px;
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;

}
.toggle>.material-icons{
    font-size: 60px;

}
.items {
    display: flex;
    flex-direction: row;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}
.items>a{
    display: flex;
    background-color: white;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b2b2b2;

}
a>.material-icons{
font-size: 30px;
}
a:hover>.material-icons{
    font-size: 40px;
    color: #30bdf2;
}