body{
    background-color: #73b0f4;
    padding: 0;
    margin: 0;
}

.toggle{
    background-color: white;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#arrow{
    color:#73b0f4;
    font-size: 50px;
    transition: 1s;
}
.menu{
    background-color: white;
    position: absolute;
    width: 100px;
    top: 100px;
    left: 0;
    border-radius: 0 0 15px 0;
    padding-bottom: 10px;
    transition: 1s;
}
a{
    display: block;
    text-align: center;
    margin-top: 30px;
}
a>.material-icons{
    font-size: 50px;
    color: #d2d2d2;

}
a:hover .material-icons{
    color: #73b0f4;
    transform: scale(1.2);
}